body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.btn-primary {
    font-size: 16pt;
    font-weight: 200;
}

.navbar-dark {
    color: white;
    background-color: #faa72d;
}

.navbar-brand {
    font-size: 24pt;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;!important;
}

.nav-link {
    border-bottom: 2px solid #faa72d;
    transition: border-bottom-color ease-out 5ms;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

footer {
    color: white;
    height: 100px;
    background-color: #faa72d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer > p {
    margin-left: 2rem;
}

/* Home page styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.banner p, .large-banner p {
    font-size: 16pt;
    font-weight: 200;
}

.banner h1, .large-banner h1 {
    font-weight: 500;
}

.large-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.banner-colored {
    background-color: #faa72d;
    color: white;
}

.banner-content {
    width: 80%;
    margin: 0 auto 0 auto;
}

#landing-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#landing-banner-content {
    margin-left: 5rem;
}

#landing-banner > img {
    width: 300px;
}

#about-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

#contact-banner > form {
    width: 50%;
}



/* Brew detail style */
#brew-details {
    flex-grow: 1;
}

.brew-container {
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 1px 1px 7px gray;
    width: 33%;
    min-width: 500px;
}

.ingredient-container > h2 {
    font-size: 18pt;
}

.field-name {
    font-size: 14pt;
}

.brew-container > h1 {
    font-size: 24pt;
}

.ingredient-nothing-here {
    font-size: 12pt;
    font-style: italic;
}

#brew-details-header {
    margin: 1em auto 0 auto;
    width: 33%;
    min-width: 500px;
}

.ingredient-container {
    margin-top: 2rem;
}

.notes-title {
    text-decoration: underline;
    font-style: italic;
}

/* Create brew Styles */
.error-msg {
    margin: 1em 0 1em 0;
    color: red;
    font-weight: 400;
    font-size: 16pt;
}

#create-brew-container {
    width: 40%;
    min-width: 900px;
    margin: 1em auto 0 auto;
}

.multi-select {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 7px;
    box-shadow: 1px 1px 10px gray;
}

.button-form-row {
    display: flex;
    justify-content: center;
}

.main-label {
    font-weight: bolder;
    font-size: 18pt;
    margin-left: 0.5em;
}

/* Your Brews Styles */
.multi-brew-container {
    width: 66%;
    min-width: 500px;
    max-width: 850px;
    margin: 0 auto 0 auto;
    flex-grow: 1;
}

.multi-brew-container h1 {
    font-weight: 600;
    margin: 1em 0 1em 0;
}

.nothing-here {
    font-size: 20pt;
    font-weight: 400;
}

.nothing-here > a {
    color: dodgerblue;
}

.brew-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 10px gray;
    border-radius: 7px;
    padding: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.brew-card-name {
    font-weight: 500;
    font-size: 20pt;
    margin-bottom: 0.1em;
    margin-top: 0;
}

.brew-card-style {
    font-weight: 400;
    font-size: 16pt;
    font-style: italic;
    color: gray;
    margin-bottom: 0.5em;
}

.brew-card-description {
    font-size: 14pt;
}

.brew-card-button-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.brew-card-button-container a {
    display: block;
    width: 33%;
}

.brew-card-button {
    width: 100%;
}

/*

Login form styles

*/

.login-container {
    width: 400px;
    flex-grow: 1;
    margin: 1em auto 0 auto;
}

#login-form {
    width: 400px;
    min-width: 400px;
}

/*

Login form styles

*/

#search-container {
    width: 400px;
    flex-grow: 1;
    margin: 1em auto 0 auto;
}

#search-form {
    width: 400px;
    min-width: 400px;
}

/*
Account styles
 */
#account-page-container {
    flex-grow: 1;
}

#account-container {
    width: 33%;
    max-width: 500px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px gray;
    margin: 2rem auto 0 auto;
    padding: 1rem 2rem 2rem 2rem;
}

#editAccountContainer {
    margin-top: 2rem;
}