form {
    width: 40%;
    min-width: 900px;
    margin: 0 auto 0 auto;
}

.multi-select {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 7px;
    box-shadow: 1px 1px 10px gray;
}

.button-form-row {
    display: flex;
    justify-content: center;
}

.main-label {
    font-weight: bolder;
    font-size: 18pt;
    margin-left: 0.5em;
}